#### Overfitting
- Terlalu kompleks
- Terlalu fit terdahap data
- Tinggi variansi, rendah bias

#### Underfitting
- Model simpel
- Tinggi bias, rendah variansi
- Tidak menggambarkan trend

#### Supervised Learning
- Memiliki tujuan atau target berupa nilai y
- contoh: prediksi harga (regresi)

#### Unsupervised Learning
- Tidak memiliki tujuan atau target berupa nilai y
- contoh: pengelompokkan

### Latihan

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
lung = pd.read_csv('lung.csv')

In [4]:
lung.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [5]:
lung.drop(['Name','Surname'],axis=1,inplace=True)

In [6]:
lung.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [7]:
lung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     59 non-null     int64
 1   Smokes  59 non-null     int64
 2   AreaQ   59 non-null     int64
 3   Alkhol  59 non-null     int64
 4   Result  59 non-null     int64
dtypes: int64(5)
memory usage: 2.4 KB

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(lung[['Age','Smokes','AreaQ','Alkhol']], lung['Result'], test_size = 0.30, random_state = 101)

In [10]:
x_train.head()

    Age  Smokes  AreaQ  Alkhol
20   55      15      1       3
37   62      15      5       5
7    22      12      5       2
3    28       0      8       1
35   25      20      8       2

In [11]:
x_test.head()

    Age  Smokes  AreaQ  Alkhol
56   75      15      3       5
22   22      20      6       2
44   39      15      7       2
21   33       8      8       1
25   21      20      5       3

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
logisticmodel = LogisticRegression()
logisticmodel.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
prediksi = logisticmodel.predict(x_test)

In [15]:
prediksi

array([1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1])

In [16]:
banding = []
for i, j in zip (prediksi, y_test) :
    banding.append ([i,j])

databanding = pd.DataFrame (banding, columns = ['Prediksi', 'Nilai Asli'])
databanding

    Prediksi  Nilai Asli
0          1           1
1          0           0
2          0           0
3          0           0
4          0           0
5          1           1
6          1           1
7          0           0
8          1           1
9          0           0
10         1           1
11         1           1
12         1           1
13         0           0
14         0           0
15         0           0
16         1           1
17         1           1

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [18]:
CM = pd.DataFrame (confusion_matrix(y_test, prediksi), columns = ['Prediksi No Cancer', 'Prediksi Cancer'], 
                  index = ['Actual No Cancer', 'Actual Cancer'])

In [19]:
CM

                  Prediksi No Cancer  Prediksi Cancer
Actual No Cancer                   9                0
Actual Cancer                      0                9

In [20]:
(accuracy_score(y_test, prediksi))*100

100.0

### Logistic Regression Predict Probability

In [26]:
prob = logisticmodel.predict_proba(x_test)

In [27]:
prob

array([[6.63908778e-06, 9.99993361e-01],
       [9.99185826e-01, 8.14174178e-04],
       [9.62134515e-01, 3.78654852e-02],
       [9.97716657e-01, 2.28334330e-03],
       [9.95758179e-01, 4.24182137e-03],
       [3.86740112e-01, 6.13259888e-01],
       [2.49189726e-07, 9.99999751e-01],
       [8.35233840e-01, 1.64766160e-01],
       [3.46458776e-02, 9.65354122e-01],
       [9.97768437e-01, 2.23156280e-03],
       [4.05061157e-05, 9.99959494e-01],
       [1.16680444e-03, 9.98833196e-01],
       [1.75311319e-03, 9.98246887e-01],
       [9.53025996e-01, 4.69740039e-02],
       [9.99375344e-01, 6.24656439e-04],
       [9.55640975e-01, 4.43590251e-02],
       [1.44132576e-02, 9.85586742e-01],
       [7.58947894e-05, 9.99924105e-01]])

### Threshold

In [39]:
threshold_pred = []

for i in prob[:,0]:
    if (i > 0.3):
        threshold_pred.append(0)
    else:
        threshold_pred.append(1)

In [40]:
threshold_pred

[1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1]

In [41]:
banding = []
for i, j in zip (threshold_pred, y_test) :
    banding.append ([i,j])

databanding = pd.DataFrame (banding, columns = ['Prediksi', 'Nilai Asli'])
databanding

    Prediksi  Nilai Asli
0          1           1
1          0           0
2          0           0
3          0           0
4          0           0
5          0           1
6          1           1
7          0           0
8          1           1
9          0           0
10         1           1
11         1           1
12         1           1
13         0           0
14         0           0
15         0           0
16         1           1
17         1           1

In [42]:
CM = pd.DataFrame (confusion_matrix(y_test, threshold_pred), columns = ['Prediksi No Cancer', 'Prediksi Cancer'], 
                  index = ['Actual No Cancer', 'Actual Cancer'])

In [43]:
CM

                  Prediksi No Cancer  Prediksi Cancer
Actual No Cancer                   9                0
Actual Cancer                      1                8